* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #222;
  color: rgb(200, 200, 200);
  font-size: smaller;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 50%;
  margin-left: 10%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.header {
  float: center;
  display: block;
  padding: 2px;
  text-align: center;
} /* The navbar container */

.header a {
  display: block;
  color: black;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

.header a :hover {
  color: white;
  background: #333;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

.column.side a {
  /* display: block; */
  color: #9e2121;
  text-align: left;
  padding: 1px 2px;
  text-decoration: none;
}

.column.side a:hover {
  background-color: #ddd;
  color: black;
  /* font-weight: 700; */
}

/* Middle column */
.column.middle {
  width: 50%;
  align-items: center;
  justify-content: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  /* background-color: #f1f1f1; */
  padding: 10px;
  text-align: center;
}

.image-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.chart {
  width: 100%;

  max-height: 200px;
}

#respond {
  margin-top: 40px;
}

#respond input[type="text"],
#respond input[type="email"],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}
